@font-face {
  font-family: "fileicons";
  src: url('fileicons.woff2?t=1747641213956') format('woff2');
}

[class^="fileicons-"], [class*=" fileicons-"] {
  font-family: 'fileicons' !important;font-size: 16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


.fileicons-css::before { content: "\ea01"; }
.fileicons-git::before { content: "\ea02"; }
.fileicons-html::before { content: "\ea03"; }
.fileicons-javascript::before { content: "\ea04"; }
.fileicons-json::before { content: "\ea05"; }
.fileicons-markdown::before { content: "\ea06"; }
.fileicons-react::before { content: "\ea07"; }
.fileicons-svg::before { content: "\ea08"; }
.fileicons-tsconfig::before { content: "\ea09"; }
.fileicons-typescript::before { content: "\ea0a"; }
.fileicons-vite::before { content: "\ea0b"; }


