@import "tailwindcss";

* {
  user-select: none;
}

::selection {
  color: #000000;
  background-color: #9bffe1;
}

button, input {
  -webkit-app-region: no-drag;
}

.window-drag {
  -webkit-app-region: drag;
}

.no-window-drag {
  -webkit-app-region: no-drag;
}