@font-face {
  font-family: "fileicons";
  src: url('fileicons.eot?t=1747632670759'); /* IE9*/
  src: url('fileicons.eot?t=1747632670759#iefix') format('embedded-opentype') /* IE6-IE8 */,
  url('fileicons.woff2?t=1747632670759') format('woff2'),
  url('fileicons.woff?t=1747632670759') format('woff'),
  url('fileicons.ttf?t=1747632670759') format('truetype'),
  url('fileicons.svg?t=1747632670759') format('svg');
}

[class^="fileicons-"], [class*=" fileicons-"] {
  font-family: 'fileicons' !important;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


.fileicons-css::before { content: "\ea01"; }
.fileicons-git::before { content: "\ea02"; }
.fileicons-html::before { content: "\ea03"; }
.fileicons-javascript::before { content: "\ea04"; }
.fileicons-json::before { content: "\ea05"; }
.fileicons-markdown::before { content: "\ea06"; }
.fileicons-react::before { content: "\ea07"; }
.fileicons-svg::before { content: "\ea08"; }
.fileicons-tsconfig::before { content: "\ea09"; }
.fileicons-typescript::before { content: "\ea0a"; }
.fileicons-vite::before { content: "\ea0b"; }


$fileicons-css: '\ea01';
$fileicons-git: '\ea02';
$fileicons-html: '\ea03';
$fileicons-javascript: '\ea04';
$fileicons-json: '\ea05';
$fileicons-markdown: '\ea06';
$fileicons-react: '\ea07';
$fileicons-svg: '\ea08';
$fileicons-tsconfig: '\ea09';
$fileicons-typescript: '\ea0a';
$fileicons-vite: '\ea0b';
